.header::before, .cta::before, .prices::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.35);
}

/* Reset and base styles  */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  /* sticky footer */
  scroll-behavior: smooth;
}

body {
  height: 100%;
  /* sticky footer */
  display: -webkit-box;
  display: flex;
  /* sticky footer */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  /* sticky footer */
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #2e2e2e;
}

body > * {
  flex-shrink: 0;
  /* sticky footer */
  scroll-behavior: smooth;
}

html,
body,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend {
  margin: 0;
  padding: 0;
  border: 0;
}

input,
textarea,
button {
  font-family: inherit;
  padding: 0;
}

label {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
}

legend {
  display: block;
}

/* Grid styles */
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (max-width: 1199px) {
  .container {
    width: 900px;
  }
}
@media (max-width: 899px) {
  .container {
    width: 600px;
  }
}
@media (max-width: 599px) {
  .container {
    width: 320px;
  }
}

/* Utility */
.none {
  display: none !important;
}

/* Sticky Footer */
.footer {
  margin-top: auto;
  /* sticky footer */
  /* Just for fun */
  text-align: center;
  background-color: #e2e2e2;
  padding: 50px 0;
}

.header {
  position: relative;
  height: 870px;
  background-image: url("../img/site-images/bg-top.jpg");
  background-size: cover;
  background-position: center;
}
@media (max-width: 1199px) {
  .header {
    height: 720px;
  }
  .header .container {
    width: auto;
  }
}
@media (max-width: 899px) {
  .header {
    height: auto;
  }
}

.header__content {
  position: relative;
  padding-top: 60px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffffff;
}
@media (max-width: 899px) {
  .header__content {
    padding-top: 20px;
  }
}

.header__buttons {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
}
@media (max-width: 899px) {
  .header__buttons {
    margin-bottom: 30px;
  }
}

.header__main {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 970px;
  text-align: center;
}
@media (max-width: 1199px) {
  .header__main {
    width: 870px;
  }
}
@media (max-width: 899px) {
  .header__main {
    position: static;
    -webkit-transform: none;
            transform: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    width: 430px;
  }
}
@media (max-width: 599px) {
  .header__main {
    margin-bottom: 50px;
    width: 290px;
  }
}

.header__title {
  margin-bottom: 40px;
}
@media (max-width: 1199px) {
  .header__title {
    margin-bottom: 35px;
  }
}
@media (max-width: 899px) {
  .header__title {
    margin-bottom: 30px;
  }
}

.header__subtitle {
  margin-bottom: 70px;
  margin-left: auto;
  margin-right: auto;
  max-width: 730px;
  font-size: 20px;
  font-weight: 700;
}
@media (max-width: 1199px) {
  .header__subtitle {
    margin-bottom: 50px;
    font-size: 18px;
  }
}
@media (max-width: 899px) {
  .header__subtitle {
    max-width: 430px;
    font-size: 16px;
  }
}
@media (max-width: 599px) {
  .header__subtitle {
    margin-bottom: 30px;
    max-width: 290px;
  }
}

.header__form {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
}
.header__form > *:not(:last-child) {
  margin-right: 20px;
}
@media (max-width: 899px) {
  .header__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 370px;
  }
  .header__form > *:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .header__form {
    width: 290px;
  }
}

.header__scroll {
  position: absolute;
  bottom: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.header__scroll:hover {
  -webkit-filter: drop-shadow(0 0 10px #ffffff);
          filter: drop-shadow(0 0 10px #ffffff);
}
@media (max-width: 1199px) {
  .header__scroll {
    bottom: 50px;
  }
}
@media (max-width: 899px) {
  .header__scroll {
    position: static;
    -webkit-transform: none;
            transform: none;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    margin-bottom: 50px;
  }
}
@media (max-width: 599px) {
  .header__scroll {
    margin-bottom: 40px;
  }
}

.functional {
  padding-top: 80px;
  padding-bottom: 80px;
}
@media (max-width: 1199px) {
  .functional {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 599px) {
  .functional {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.functional__header {
  margin-bottom: 70px;
  text-align: center;
}
@media (max-width: 1199px) {
  .functional__header {
    margin-bottom: 60px;
  }
}
@media (max-width: 899px) {
  .functional__header {
    margin-bottom: 40px;
  }
}

.functional__title {
  margin-bottom: 40px;
}
@media (max-width: 1199px) {
  .functional__title {
    margin-bottom: 30px;
  }
}
@media (max-width: 899px) {
  .functional__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .functional__title {
    margin-bottom: 10px;
  }
}

.functional__cards {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.functional__cards > * {
  flex-shrink: 0;
  margin-left: 15px;
  margin-right: 15px;
}
@media (max-width: 1199px) {
  .functional__cards {
    width: 870px;
  }
}
@media (max-width: 899px) {
  .functional__cards {
    width: 570px;
  }
}
@media (max-width: 599px) {
  .functional__cards {
    width: auto;
  }
  .functional__cards > * {
    flex-shrink: 1;
  }
}

.cta {
  position: relative;
  padding-top: 83px;
  padding-bottom: 84px;
  background-image: url("../img/site-images/cta.jpg");
  background-size: cover;
  background-position: center;
}

.cta__content {
  position: relative;
  z-index: 10;
  text-align: center;
  color: #ffffff;
}

.cta__title {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 22px;
  line-height: 1;
}
.cta__title span {
  font-weight: 700;
}

.flex-control {
  padding-top: 80px;
  padding-bottom: 40px;
  border-bottom: 1px solid #e1e1e1;
}

.flex-control__row {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  padding-left: 100px;
  padding-right: 114px;
}

.flex-control__content {
  width: 570px;
}

.flex-control__title {
  margin-bottom: 30px;
}

.flex-control__subtitle {
  margin-bottom: 30px;
}

.flex-control__text {
  width: 400px;
}
.flex-control__text p:not(:last-child) {
  margin-bottom: 15px;
}

.focus {
  padding-top: 80px;
  padding-bottom: 40px;
}

.focus__row {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}

.focus__content {
  margin-top: -60px;
  width: 470px;
}

.focus__title {
  margin-bottom: 30px;
}

.focus__subtitle {
  margin-bottom: 30px;
}

.focus__text {
  width: 400px;
}
.focus__text p:not(:last-child) {
  margin-bottom: 15px;
}

.prices {
  position: relative;
  padding-top: 90px;
  padding-bottom: 100px;
  background-image: url("../img/site-images/bg-bottom.jpg");
  background-size: cover;
  background-position: center;
}

.prices__content {
  position: relative;
  z-index: 10;
}

.prices__header {
  margin-bottom: 80px;
  text-align: center;
}
.prices__header .title-2,
.prices__header .title-3 {
  color: #ffffff;
}

.prices__title {
  margin-bottom: 40px;
}

.prices__row {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  margin-left: -15px;
  margin-right: -15px;
}
.prices__row > * {
  margin-left: 15px;
  margin-right: 15px;
}

.clients {
  padding-top: 80px;
  padding-bottom: 80px;
}

.clients__header {
  margin-bottom: 60px;
  text-align: center;
}

.clients__title {
  margin-bottom: 40px;
}

.clients__slider {
  margin-left: auto;
  margin-right: auto;
  width: 770px;
}

.footer {
  padding-top: 70px;
  padding-bottom: 70px;
  background: #1a1a1a;
}
.footer a {
  transition: 0.2s ease-out;
}

.footer__row {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.footer__nav {
  margin-right: 40px;
}

.footer__nav-item {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}
.footer__nav-item:not(:last-child) {
  margin-right: 50px;
}
.footer__nav-item:hover {
  color: #15d784;
}

.footer__social {
  display: -webkit-box;
  display: flex;
}

.footer__social-item {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: rgba(196, 196, 196, 0.1);
}
.footer__social-item:not(:last-child) {
  margin-right: 30px;
}
.footer__social-item:hover {
  background-color: #00c470;
}

.footer__copyright {
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
}

.button-rounded {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  width: 60px;
  height: 60px;
  border: none;
  outline: none;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
}
.button-rounded:hover {
  background-color: #00c470;
}

.button {
  padding-left: 40px;
  padding-right: 40px;
  width: 250px;
  height: 60px;
  border: none;
  border-radius: 30px;
  background: #00c470;
  font-weight: 800;
  font-size: 14px;
  line-height: 60px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}
.button:hover {
  background: #00af63;
}
.button:active, .button:focus {
  outline: none;
  background: #008d50;
}
@media (max-width: 899px) {
  .button {
    width: auto;
  }
}

.button-outline {
  padding-left: 40px;
  padding-right: 40px;
  height: 60px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  background: transparent;
  font-weight: 800;
  font-size: 14px;
  line-height: 60px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}
.button-outline:hover {
  border: 1px solid rgba(255, 255, 255, 0);
  background: rgba(255, 255, 255, 0.2);
}
.button-outline:active, .button-outline:focus {
  outline: none;
  background: #000000;
}

.button-solid {
  padding-left: 40px;
  padding-right: 40px;
  height: 60px;
  border: none;
  border-radius: 30px;
  background: #ffffff;
  font-weight: 800;
  font-size: 14px;
  line-height: 60px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #2e2e2e;
  cursor: pointer;
}
.button-solid:hover {
  background: #000000;
  color: #ffffff;
}
.button-solid:active, .button-solid:focus {
  outline: none;
  background: #2f2f2f;
  color: #ffffff;
}

.title-1 {
  font-size: 96px;
  font-weight: 700;
  line-height: 1;
}
@media (max-width: 1199px) {
  .title-1 {
    font-size: 84px;
  }
}
@media (max-width: 899px) {
  .title-1 {
    font-size: 70px;
  }
}

.title-2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #15d784;
}

.title-3 {
  font-size: 48px;
  font-weight: 700;
  line-height: 1;
}

.title-4 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
}

.paragraph-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 2.14;
  color: #808080;
}

.input {
  padding-left: 30px;
  padding-right: 30px;
  width: 240px;
  height: 60px;
  border: none;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.75);
  font-weight: bold;
  font-size: 14px;
  line-height: 60px;
  color: #ffffff;
}
.input::-webkit-input-placeholder {
  color: #ffffff;
}
.input:-ms-input-placeholder {
  color: #ffffff;
}
.input::-ms-input-placeholder {
  color: #ffffff;
}
.input::placeholder {
  color: #ffffff;
}
.input:focus {
  outline: none;
  background-color: black;
}
@media (max-width: 899px) {
  .input {
    width: auto;
  }
}

.card {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  width: 270px;
  text-align: center;
}
@media (max-width: 1199px) {
  .card {
    width: 195px;
  }
}
@media (max-width: 899px) {
  .card {
    width: 270px;
  }
}
@media (max-width: 599px) {
  .card {
    width: auto;
  }
}

.card__img {
  margin-bottom: 40px;
}

.card__title {
  margin-bottom: 20px;
}
@media (max-width: 1199px) {
  .card__title {
    margin-bottom: 10px;
  }
}

.tariff {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 300px;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 8px;
  text-align: center;
  color: #ffffff;
}

.tariff__header {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.tariff__title {
  margin-bottom: 20px;
}
.tariff__title .title-2 {
  color: #b2b2b2;
}

.tariff__price {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 80px;
  line-height: 1;
  text-align: center;
}

.tariff__period {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  height: 24px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.tariff__content {
  padding-top: 40px;
  padding-bottom: 58px;
  padding-left: 15px;
  padding-right: 15px;
}

.tariff__content-item {
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
}
.tariff__content-item:last-child {
  margin-bottom: 0;
}

.tariff__button {
  margin-top: auto;
}

.tariff--special {
  background: rgba(48, 79, 254, 0.95);
}
.tariff--special .title-2 {
  color: #ffffff;
}
.tariff--special .tariff__period {
  background: rgba(0, 0, 0, 0.1);
}

.slider {
  position: relative;
}

.slider__arrow {
  position: absolute;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  width: 54px;
  height: 54px;
  outline: none;
  border: none;
  border-radius: 50%;
  background: #f5f5f5;
  cursor: pointer;
}
.slider__arrow--left {
  top: 53px;
  left: -46px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.slider__arrow--right {
  top: 53px;
  right: -46px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.slider-item {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
}

.slider-item__text {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 2;
  text-align: center;
  color: #000000;
}
.slider-item__text p:not(:last-child) {
  margin-bottom: 15px;
}

.slider-item__author {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 16px;
}

.slider-item__avatar {
  margin-right: 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}

.slider-item__author-title {
  display: block;
  margin-bottom: 5px;
  color: #00c470;
}

.slider-item__author-name {
  display: block;
  color: #808080;
}

/*# sourceMappingURL=main.css.map */