.header::before, .cta::before, .prices::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.35);
}

/* Reset and base styles  */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  /* sticky footer */
  scroll-behavior: smooth;
}

body {
  height: 100%;
  /* sticky footer */
  display: -webkit-box;
  display: flex;
  /* sticky footer */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  /* sticky footer */
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #2e2e2e;
}

body > * {
  flex-shrink: 0;
  /* sticky footer */
  scroll-behavior: smooth;
}

html,
body,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend {
  margin: 0;
  padding: 0;
  border: 0;
}

input,
textarea,
button {
  font-family: inherit;
  padding: 0;
}

label {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
}

legend {
  display: block;
}

/* Grid styles */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (max-width: 1199px) {
  .container {
    max-width: 900px;
  }
}
@media (max-width: 899px) {
  .container {
    max-width: 600px;
  }
}
@media (max-width: 599px) {
  .container {
    max-width: 320px;
  }
}

/* Utility */
.none {
  display: none !important;
}

/* Sticky Footer */
.footer {
  margin-top: auto;
  /* sticky footer */
  /* Just for fun */
  text-align: center;
  background-color: #e2e2e2;
  padding: 50px 0;
}

.header {
  position: relative;
  z-index: 20;
  background-image: url("../img/site-images/bg-top.jpg");
  background-size: cover;
  background-position: center;
}
@media (max-width: 1600px) {
  .header {
    background-image: url("../img/site-images/bg-top-1600.jpg");
    background-size: cover;
    background-position: center;
  }
}
@media (max-width: 1199px) {
  .header {
    background-image: url("../img/site-images/bg-top-900.jpg");
    background-size: cover;
    background-position: center;
  }
}
@media (max-width: 899px) {
  .header {
    background-image: url("../img/site-images/bg-top-600.jpg");
    background-size: cover;
    background-position: center;
  }
}
@media (max-width: 599px) {
  .header {
    background-image: url("../img/site-images/bg-top-320.jpg");
    background-size: cover;
    background-position: center;
  }
}

.header__wrapper {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  z-index: 10;
  padding-top: 60px;
  padding-bottom: 100px;
  color: #ffffff;
}
@media (max-width: 1199px) {
  .header__wrapper {
    padding-bottom: 50px;
  }
}
@media (max-width: 899px) {
  .header__wrapper {
    padding-top: 20px;
  }
}
@media (max-width: 599px) {
  .header__wrapper {
    padding-bottom: 40px;
  }
}

.header__buttons {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  margin-bottom: 140px;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}
@media (max-width: 1199px) {
  .header__buttons {
    margin-bottom: 100px;
    width: 100%;
  }
}
@media (max-width: 899px) {
  .header__buttons {
    margin-bottom: 30px;
  }
}

.header__buttons-nav-icon {
  flex-shrink: 0;
}

.header__form-search {
  margin-left: auto;
}

.header__content {
  margin-bottom: 148px;
  text-align: center;
}
@media (max-width: 1199px) {
  .header__content {
    margin-bottom: 129px;
  }
}
@media (max-width: 899px) {
  .header__content {
    margin-bottom: 80px;
  }
}
@media (max-width: 599px) {
  .header__content {
    margin-bottom: 50px;
  }
}

.header__title {
  margin-bottom: 40px;
}
@media (max-width: 1199px) {
  .header__title {
    margin-bottom: 35px;
  }
}
@media (max-width: 899px) {
  .header__title {
    margin-bottom: 30px;
  }
}

.header__subtitle {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
  max-width: 730px;
  font-size: 20px;
  font-weight: 700;
}
.header__subtitle p:not(:last-child) {
  margin-bottom: 15px;
}
@media (max-width: 1199px) {
  .header__subtitle {
    margin-bottom: 50px;
    font-size: 18px;
  }
}
@media (max-width: 899px) {
  .header__subtitle {
    max-width: 430px;
    font-size: 16px;
  }
}
@media (max-width: 599px) {
  .header__subtitle {
    margin-bottom: 30px;
  }
}

.header__form {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.header__form > *:not(:last-child) {
  margin-right: 20px;
}
@media (max-width: 899px) {
  .header__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: stretch;
            align-items: stretch;
    width: 370px;
  }
  .header__form > *:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .header__form {
    width: 100%;
  }
}

.header__form-input {
  width: 240px;
}
@media (max-width: 899px) {
  .header__form-input {
    width: 100%;
  }
}

.header__scroll:hover {
  -webkit-filter: drop-shadow(0 0 10px #ffffff);
          filter: drop-shadow(0 0 10px #ffffff);
}

.functional {
  padding-top: 80px;
  padding-bottom: 80px;
}
@media (max-width: 1199px) {
  .functional {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 599px) {
  .functional {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.functional__header {
  margin-bottom: 70px;
  text-align: center;
}
@media (max-width: 1199px) {
  .functional__header {
    margin-bottom: 60px;
  }
}
@media (max-width: 899px) {
  .functional__header {
    margin-bottom: 40px;
  }
}

.functional__title {
  margin-bottom: 40px;
}
@media (max-width: 1199px) {
  .functional__title {
    margin-bottom: 30px;
  }
}
@media (max-width: 899px) {
  .functional__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .functional__title {
    margin-bottom: 10px;
  }
}

.functional__cards {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.functional__cards > * {
  flex-shrink: 0;
  margin-left: 15px;
  margin-right: 15px;
  width: 270px;
}
@media (max-width: 1199px) {
  .functional__cards > * {
    width: 195px;
  }
}
@media (max-width: 899px) {
  .functional__cards > * {
    width: 270px;
    margin-top: 30px;
  }
}
@media (max-width: 599px) {
  .functional__cards > * {
    width: 290px;
    margin-top: 40px;
  }
}
@media (max-width: 899px) {
  .functional__cards {
    margin-top: -30px;
  }
}
@media (max-width: 599px) {
  .functional__cards {
    margin-top: -40px;
  }
}

.cta {
  position: relative;
  padding-top: 83px;
  padding-bottom: 84px;
  background-image: url("../img/site-images/cta.jpg");
  background-size: cover;
  background-position: center;
}
@media (max-width: 1600px) {
  .cta {
    background-image: url("../img/site-images/cta-1600.jpg");
    background-size: cover;
    background-position: center;
  }
}
@media (max-width: 1199px) {
  .cta {
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: url("../img/site-images/cta-900.jpg");
    background-size: cover;
    background-position: center;
  }
}
@media (max-width: 899px) {
  .cta {
    background-image: url("../img/site-images/cta-600.jpg");
    background-size: cover;
    background-position: center;
  }
}
@media (max-width: 599px) {
  .cta {
    background-image: url("../img/site-images/cta-320.jpg");
    background-size: cover;
    background-position: center;
  }
}

.cta__content {
  position: relative;
  z-index: 10;
  text-align: center;
  color: #ffffff;
}

.cta__title {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 22px;
  line-height: 1;
}
.cta__title span {
  text-transform: uppercase;
  font-weight: 700;
}
@media (max-width: 899px) {
  .cta__title {
    margin-bottom: 30px;
    font-size: 20px;
  }
}
@media (max-width: 599px) {
  .cta__title {
    margin-bottom: 20px;
    font-size: 18px;
  }
}

.flex-control {
  padding-top: 80px;
  padding-bottom: 40px;
  border-bottom: 1px solid #e1e1e1;
}
@media (max-width: 1199px) {
  .flex-control {
    padding-top: 50px;
    padding-bottom: 20px;
  }
}
@media (max-width: 899px) {
  .flex-control {
    padding-bottom: 10px;
  }
}
@media (max-width: 599px) {
  .flex-control {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.flex-control__row {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  padding-left: 100px;
  padding-right: 114px;
}
@media (max-width: 1199px) {
  .flex-control__row {
    padding-left: 75px;
    padding-right: 0;
  }
}
@media (max-width: 899px) {
  .flex-control__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
            flex-direction: row-reverse;
    padding-left: 0;
  }
}
@media (max-width: 599px) {
  .flex-control__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
            flex-direction: column-reverse;
  }
}

.flex-control__content {
  width: 570px;
}
.flex-control__content > * {
  flex-shrink: 0;
}
@media (max-width: 1199px) {
  .flex-control__content {
    width: 495px;
  }
}
@media (max-width: 899px) {
  .flex-control__content {
    width: 270px;
  }
}
@media (max-width: 599px) {
  .flex-control__content {
    text-align: center;
  }
}

.flex-control__title {
  margin-bottom: 30px;
}
@media (max-width: 1199px) {
  .flex-control__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .flex-control__title {
    margin-bottom: 10px;
  }
}

.flex-control__header {
  margin-bottom: 30px;
}
@media (max-width: 1199px) {
  .flex-control__header {
    margin-bottom: 20px;
  }
}

.flex-control__text {
  width: 400px;
}
.flex-control__text p:not(:last-child) {
  margin-bottom: 15px;
}
@media (max-width: 1199px) {
  .flex-control__text {
    width: unset;
    max-width: 420px;
  }
}
@media (max-width: 899px) {
  .flex-control__text {
    line-height: 1.71;
  }
}

@media (max-width: 1199px) {
  .flex-control__img {
    width: 265px;
  }
}
@media (max-width: 899px) {
  .flex-control__img {
    width: 270px;
  }
}
@media (max-width: 599px) {
  .flex-control__img {
    margin-bottom: 10px;
    width: 100%;
  }
  .flex-control__img img {
    margin-left: auto;
    margin-right: auto;
    width: 270px;
  }
}

.focus {
  padding-top: 80px;
  padding-bottom: 40px;
  overflow-x: hidden;
}
@media (max-width: 1199px) {
  .focus {
    padding-top: 50px;
    padding-bottom: 20px;
  }
}
@media (max-width: 899px) {
  .focus {
    padding-bottom: 0;
  }
}
@media (max-width: 599px) {
  .focus {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.focus__row {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}
.focus__row > * {
  flex-shrink: 0;
}
@media (max-width: 899px) {
  .focus__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
            flex-direction: row-reverse;
  }
}
@media (max-width: 599px) {
  .focus__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
}

.focus__content {
  margin-top: -60px;
  width: 470px;
}
@media (max-width: 1199px) {
  .focus__content {
    width: 420px;
  }
}
@media (max-width: 899px) {
  .focus__content {
    width: 370px;
  }
}
@media (max-width: 599px) {
  .focus__content {
    margin-top: 0;
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 1199px) {
  .focus__img {
    width: 420px;
  }
}
@media (max-width: 899px) {
  .focus__img {
    width: 170px;
  }
  .focus__img img {
    max-width: unset;
    width: 415px;
    height: auto;
  }
}
@media (max-width: 599px) {
  .focus__img {
    margin-bottom: 10px;
    width: 100%;
  }
  .focus__img img {
    margin-left: auto;
    margin-right: auto;
    width: unset;
    max-width: 100%;
  }
}

.focus__title {
  margin-bottom: 30px;
}
@media (max-width: 1199px) {
  .focus__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .focus__title {
    margin-bottom: 10px;
  }
}

.focus__header {
  margin-bottom: 30px;
}
@media (max-width: 1199px) {
  .focus__header {
    margin-bottom: 20px;
  }
}

.focus__text {
  width: 400px;
}
.focus__text p:not(:last-child) {
  margin-bottom: 15px;
}
@media (max-width: 899px) {
  .focus__text .paragraph-text {
    line-height: 1.71;
  }
}
@media (max-width: 1199px) {
  .focus__text {
    width: unset;
    max-width: 420px;
  }
}

.prices {
  position: relative;
  padding-top: 90px;
  padding-bottom: 100px;
  background-image: url("../img/site-images/bg-bottom.jpg");
  background-size: cover;
  background-position: center;
}
@media (max-width: 1600px) {
  .prices {
    background-image: url("../img/site-images/bg-bottom-1600.jpg");
    background-size: cover;
    background-position: center;
  }
}
@media (max-width: 1199px) {
  .prices {
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url("../img/site-images/bg-bottom-900.jpg");
    background-size: cover;
    background-position: center;
  }
}
@media (max-width: 899px) {
  .prices {
    padding-bottom: 40px;
    background-image: url("../img/site-images/bg-bottom-600.jpg");
    background-size: cover;
    background-position: center;
  }
}
@media (max-width: 599px) {
  .prices {
    padding-top: 40px;
    background-image: url("../img/site-images/bg-bottom-320.jpg");
    background-size: cover;
    background-position: center;
  }
}

.prices__content {
  position: relative;
  z-index: 10;
}

.prices__header {
  margin-bottom: 80px;
  text-align: center;
}
.prices__header .title-2,
.prices__header .title-3 {
  color: #ffffff;
}
@media (max-width: 1199px) {
  .prices__header {
    margin-bottom: 50px;
  }
}
@media (max-width: 899px) {
  .prices__header {
    margin-bottom: 40px;
  }
}

.prices__title {
  margin-bottom: 40px;
}
@media (max-width: 1199px) {
  .prices__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .prices__title {
    margin-bottom: 10px;
  }
}

.prices__row {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  margin-left: -15px;
  margin-right: -15px;
}
.prices__row > * {
  margin-left: 15px;
  margin-right: 15px;
  width: 300px;
}
@media (max-width: 1199px) {
  .prices__row > * {
    width: 270px;
  }
}
@media (max-width: 899px) {
  .prices__row > * {
    margin-top: 30px;
    width: 300px;
  }
}
@media (max-width: 599px) {
  .prices__row > * {
    width: 290px;
  }
}
@media (max-width: 899px) {
  .prices__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;
    margin-top: -30px;
  }
}

.clients {
  padding-top: 80px;
  padding-bottom: 80px;
}
@media (max-width: 1199px) {
  .clients {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 599px) {
  .clients {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.clients__header {
  margin-bottom: 60px;
  text-align: center;
}
@media (max-width: 1199px) {
  .clients__header {
    margin-bottom: 50px;
  }
}
@media (max-width: 899px) {
  .clients__header {
    margin-bottom: 40px;
  }
}
@media (max-width: 599px) {
  .clients__header {
    margin-bottom: 30px;
  }
}

.clients__title {
  margin-bottom: 40px;
}
@media (max-width: 1199px) {
  .clients__title {
    margin-bottom: 30px;
  }
}
@media (max-width: 899px) {
  .clients__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .clients__title {
    margin-bottom: 10px;
  }
}

.clients__slider {
  margin-left: auto;
  margin-right: auto;
  width: 770px;
}
@media (max-width: 1199px) {
  .clients__slider {
    width: 720px;
  }
}
@media (max-width: 899px) {
  .clients__slider {
    width: 370px;
  }
}
@media (max-width: 599px) {
  .clients__slider {
    width: 290px;
  }
}

.footer {
  padding-top: 70px;
  padding-bottom: 70px;
  background: #1a1a1a;
}
.footer a {
  transition: 0.2s ease-out;
}
@media (max-width: 1199px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (max-width: 899px) {
  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 599px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.footer__row {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  margin-bottom: 50px;
}
@media (max-width: 1199px) {
  .footer__row {
    margin-bottom: 40px;
  }
}
@media (max-width: 899px) {
  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    margin-bottom: 30px;
  }
}
@media (max-width: 599px) {
  .footer__row {
    margin-bottom: 40px;
  }
}

.footer__nav {
  margin-right: 50px;
}
@media (max-width: 899px) {
  .footer__nav {
    margin-right: 0;
    margin-bottom: 30px;
  }
}
@media (max-width: 599px) {
  .footer__nav {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;
    margin-bottom: 40px;
  }
}

.footer__nav-item {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}
.footer__nav-item:not(:last-child) {
  margin-right: 50px;
}
.footer__nav-item:hover {
  color: #15d784;
}
@media (max-width: 599px) {
  .footer__nav-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.footer__social {
  display: -webkit-box;
  display: flex;
}

.footer__social-item {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: rgba(196, 196, 196, 0.1);
}
.footer__social-item:not(:last-child) {
  margin-right: 30px;
}
.footer__social-item:hover {
  background-color: #00c470;
}
@media (max-width: 599px) {
  .footer__social-item:not(:last-child) {
    margin-right: 20px;
  }
}

.footer__copyright {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
}

.nav-icon {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  margin-right: 10px;
  width: 60px;
  height: 60px;
  border: none;
  outline: none;
  border-radius: 50%;
  background-color: #ffffff;
  transition: background-color 0.2s ease-in;
  cursor: pointer;
}
.nav-icon:hover {
  background-color: #00c470;
}
.nav-icon:hover .nav-icon__center, .nav-icon:hover .nav-icon__center::before, .nav-icon:hover .nav-icon__center::after {
  background-color: #ffffff;
}

.nav-icon__center {
  position: relative;
  width: 20px;
  height: 3px;
  background-color: #000000;
  border-radius: 3px;
  transition: background-color 0.2s ease-in;
}
.nav-icon__center::before, .nav-icon__center::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 3px;
  left: 0;
  background-color: #000000;
  border-radius: 3px;
  transition: background-color 0.2s ease-in, -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in, background-color 0.2s ease-in;
  transition: transform 0.2s ease-in, background-color 0.2s ease-in, -webkit-transform 0.2s ease-in;
}
.nav-icon__center::before {
  top: -7px;
}
.nav-icon__center::after {
  top: 7px;
}

/* Active state*/
.nav-icon.nav-icon--active {
  position: fixed;
  z-index: 40;
}

.nav-icon.nav-icon--active .nav-icon__center {
  background-color: transparent;
}
.nav-icon.nav-icon--active .nav-icon__center::before, .nav-icon.nav-icon--active .nav-icon__center::after {
  top: 0;
  transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
}
.nav-icon.nav-icon--active .nav-icon__center::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.nav-icon.nav-icon--active .nav-icon__center::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.nav {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  position: fixed;
  top: -100%;
  right: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
  color: #ffffff;
}
.nav.nav--active {
  z-index: 30;
  top: 0;
  transition: top 0.2s ease-in;
}

.nav__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #15d784;
}
@media (max-width: 599px) {
  .nav__title {
    margin-bottom: 30px;
    font-size: 16px;
  }
}

.nav__list {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
}
.nav__list li:not(:last-child) {
  margin-bottom: 40px;
}
.nav__list a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.2s ease-in;
}
.nav__list a:hover {
  color: #15d784;
}
@media (max-width: 599px) {
  .nav__list {
    font-size: 18px;
  }
  .nav__list li:not(:last-child) {
    margin-bottom: 30px;
  }
}

.search {
  position: relative;
}

.search__input {
  padding-left: 30px;
  padding-right: 30px;
  width: 0px;
  height: 60px;
  border: none;
  outline: none;
  border-radius: 30px;
  background-color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 60px;
  color: #000000;
  transition: width 0.2s ease-in;
}
.search__input::-webkit-input-placeholder {
  color: rgba(46, 46, 46, 0.5);
}
.search__input:-ms-input-placeholder {
  color: rgba(46, 46, 46, 0.5);
}
.search__input::-ms-input-placeholder {
  color: rgba(46, 46, 46, 0.5);
}
.search__input::placeholder {
  color: rgba(46, 46, 46, 0.5);
}

.search__button {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  width: 60px;
  height: 60px;
  border: none;
  outline: none;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}
.search__button g {
  stroke: #000000;
  transition: stroke 0.2s ease-in;
}
.search__button:hover {
  background-color: #00c470;
}
.search__button:hover g {
  stroke: #ffffff;
}

.search.search--visible .search__input {
  padding-left: 30px;
  padding-right: 70px;
  width: 340px;
}
@media (max-width: 599px) {
  .search.search--visible .search__input {
    padding-left: 20px;
    width: 220px;
    font-size: 14px;
  }
}
.search.search--visible .search__button {
  background-color: #00c470;
}
.search.search--visible .search__button:hover {
  background-color: #15d784;
}
.search.search--visible .search__button g {
  stroke: #ffffff;
}

.button {
  display: inline-block;
  padding-left: 40px;
  padding-right: 40px;
  height: 60px;
  border: none;
  border-radius: 30px;
  background: #00c470;
  font-weight: 800;
  font-size: 14px;
  line-height: 60px;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}
.button:hover {
  background: #00af63;
}
.button:active, .button:focus {
  outline: none;
  background: #008d50;
}

.button-outline {
  padding-left: 40px;
  padding-right: 40px;
  height: 60px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  background: transparent;
  font-weight: 800;
  font-size: 14px;
  line-height: 60px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}
.button-outline:hover {
  border: 1px solid rgba(255, 255, 255, 0);
  background: rgba(255, 255, 255, 0.2);
}
.button-outline:active, .button-outline:focus {
  outline: none;
  background: #000000;
}

.button-solid {
  padding-left: 40px;
  padding-right: 40px;
  height: 60px;
  border: none;
  border-radius: 30px;
  background: #ffffff;
  font-weight: 800;
  font-size: 14px;
  line-height: 60px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #2e2e2e;
  cursor: pointer;
}
.button-solid:hover {
  background: #000000;
  color: #ffffff;
}
.button-solid:active, .button-solid:focus {
  outline: none;
  background: #2f2f2f;
  color: #ffffff;
}

.title-1 {
  font-size: 96px;
  font-weight: 700;
  line-height: 1;
}
@media (max-width: 1199px) {
  .title-1 {
    font-size: 84px;
  }
}
@media (max-width: 899px) {
  .title-1 {
    font-size: 70px;
  }
}

.title-2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #15d784;
}
@media (max-width: 899px) {
  .title-2 {
    font-size: 14px;
  }
}

.title-3 {
  font-size: 48px;
  font-weight: 700;
  line-height: 1;
}
@media (max-width: 1199px) {
  .title-3 {
    font-size: 38px;
  }
}
@media (max-width: 899px) {
  .title-3 {
    font-size: 30px;
  }
}
@media (max-width: 599px) {
  .title-3 {
    font-size: 26px;
  }
}

.title-4 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
}

.paragraph-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 2.14;
  color: #808080;
}

.input {
  display: block;
  padding-left: 30px;
  padding-right: 30px;
  height: 60px;
  border: none;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.75);
  font-weight: bold;
  font-size: 14px;
  line-height: 60px;
  color: #ffffff;
}
.input::-webkit-input-placeholder {
  color: #ffffff;
}
.input:-ms-input-placeholder {
  color: #ffffff;
}
.input::-ms-input-placeholder {
  color: #ffffff;
}
.input::placeholder {
  color: #ffffff;
}
.input:focus {
  outline: none;
  background-color: black;
}

.card {
  text-align: center;
}
@media (max-width: 899px) {
  .card .paragraph-text {
    line-height: 1.71;
  }
}

.card__img {
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1199px) {
  .card__img {
    margin-bottom: 20px;
  }
}

.card__title {
  margin-bottom: 20px;
}
@media (max-width: 1199px) {
  .card__title {
    margin-bottom: 10px;
    min-height: 32px;
  }
}
@media (max-width: 899px) {
  .card__title {
    min-height: unset;
  }
}

.tariff {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 8px;
  text-align: center;
  color: #ffffff;
}

.tariff__header {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.tariff__title {
  margin-bottom: 20px;
}
.tariff__title .title-2 {
  color: #b2b2b2;
}

.tariff__price {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 80px;
  line-height: 1;
  text-align: center;
}

.tariff__period {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  height: 24px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.tariff__content {
  padding-top: 40px;
  padding-bottom: 58px;
  padding-left: 15px;
  padding-right: 15px;
}

.tariff__content-item {
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
}
.tariff__content-item:last-child {
  margin-bottom: 0;
}

.tariff__button {
  margin-top: auto;
}

.tariff--special {
  background: rgba(48, 79, 254, 0.95);
}
.tariff--special .title-2 {
  color: #ffffff;
}
.tariff--special .tariff__period {
  background: rgba(0, 0, 0, 0.1);
}

.slider {
  position: relative;
  padding-bottom: 54px;
}
@media (max-width: 899px) {
  .slider {
    padding-bottom: 44px;
  }
}

.slider__arrow {
  position: absolute;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  width: 54px;
  height: 54px;
  outline: none;
  border: none;
  border-radius: 50%;
  background: #f5f5f5;
  cursor: pointer;
}
.slider__arrow--left {
  top: 53px;
  left: -46px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.slider__arrow--right {
  top: 53px;
  right: -46px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
@media (max-width: 599px) {
  .slider__arrow {
    display: none;
  }
}

.slider-item {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
}

.slider-item__text {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 2;
  text-align: center;
  color: #000000;
}
.slider-item__text p:not(:last-child) {
  margin-bottom: 15px;
}
@media (max-width: 1199px) {
  .slider-item__text {
    line-height: 1.5;
  }
}
@media (max-width: 899px) {
  .slider-item__text {
    margin-bottom: 20px;
    font-size: 16px;
  }
}
@media (max-width: 599px) {
  .slider-item__text {
    font-size: 14px;
  }
}

.slider-item__author {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 16px;
}

.slider-item__avatar {
  margin-right: 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}
@media (max-width: 599px) {
  .slider-item__avatar {
    margin-right: 10px;
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 599px) {
  .slider-item__author-desc {
    font-size: 14px;
  }
}

.slider-item__author-title {
  display: block;
  margin-bottom: 5px;
  color: #00c470;
}

.slider-item__author-name {
  display: block;
  color: #808080;
}

.slider__pagination {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: flex;
}

.slider__pagination-item {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: none;
  outline: none;
  background: #e1e1e1;
}
.slider__pagination-item:not(:last-child) {
  margin-right: 10px;
}

.slider__pagination-item--active {
  background-color: #00c470;
}

/*# sourceMappingURL=main.css.map */