/* Reset and base styles  */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%; /* sticky footer */
    scroll-behavior: smooth;
}

body {
    height: 100%; /* sticky footer */
    display: flex; /* sticky footer */
    flex-direction: column; /* sticky footer */
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: $mainText;
}

body > * {
    flex-shrink: 0; /* sticky footer */
    scroll-behavior: smooth;
}

html,
body,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend {
    margin: 0;
    padding: 0;
    border: 0;
}

input,
textarea,
button {
    font-family: inherit;
    padding: 0;
}

label {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    list-style-type: none;
}

legend {
    display: block;
}

/* Grid styles */

.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;

    @media (max-width: 1199px) {
        width: 900px;
    }
    @media (max-width: 899px) {
        width: 600px;
    }
    @media (max-width: 599px) {
        width: 320px;
    }
}

/* Utility */

.none {
    display: none !important;
}

/* Sticky Footer */

.footer {
    margin-top: auto; /* sticky footer */

    /* Just for fun */
    text-align: center;
    background-color: #e2e2e2;
    padding: 50px 0;
}
