@mixin bgImage($fileName) {
    background-image: url($fileName);
    background-size: cover;
    background-position: center;
}

%background-overlay {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.35);
}
