.button-outline {
    padding-left: 40px;
    padding-right: 40px;
    height: 60px;

    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    background: transparent;
    font-weight: 800;
    font-size: 14px;
    line-height: 60px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #ffffff;

    cursor: pointer;

    &:hover {
        border: 1px solid rgba(255, 255, 255, 0);
        background: rgba(255, 255, 255, 0.2);
    }

    &:active,
    &:focus {
        outline: none;
        background: #000000;
    }
}
