.card {
    text-align: center;

    & .paragraph-text {
        @media (max-width: 899px) {
            line-height: 1.71;
        }
    }
}

.card__img {
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 1199px) {
        margin-bottom: 20px;
    }
}

.card__title {
    margin-bottom: 20px;

    @media (max-width: 1199px) {
        margin-bottom: 10px;
        min-height: 32px;
    }
    @media (max-width: 899px) {
        min-height: unset;
    }
}
