.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 270px;

    text-align: center;

    @media (max-width: 1199px) {
        width: 195px;
    }
    @media (max-width: 899px) {
        width: 270px;
    }
    @media (max-width: 599px) {
        width: auto;
    }
}

.card__img {
    margin-bottom: 40px;
}

.card__title {
    margin-bottom: 20px;

    @media (max-width: 1199px) {
        margin-bottom: 10px;
    }
}
