.tariff {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
    // width: 300px;

    background: rgba(0, 0, 0, 0.75);
    border-radius: 8px;
    text-align: center;
    color: #ffffff;
}

.tariff__header {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 40px;

    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.tariff__title {
    margin-bottom: 20px;

    .title-2 {
        color: #b2b2b2;
    }
}

.tariff__price {
    margin-bottom: 15px;

    font-weight: 700;
    font-size: 80px;
    line-height: 1;
    text-align: center;
}

.tariff__period {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    height: 24px;

    background: rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.tariff__content {
    padding-top: 40px;
    padding-bottom: 58px;
    padding-left: 15px;
    padding-right: 15px;
}

.tariff__content-item {
    margin-bottom: 25px;

    &:last-child {
        margin-bottom: 0;
    }

    font-weight: 500;
    font-size: 16px;
    line-height: 1;
}

.tariff__button {
    margin-top: auto;
}

.tariff--special {
    background: rgba(48, 79, 254, 0.95);

    .title-2 {
        color: #ffffff;
    }

    .tariff__period {
        background: rgba(0, 0, 0, 0.1);
    }
}
