.title-1 {
    font-size: 96px;
    font-weight: 700;
    line-height: 1;
}

.title-2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: $accentText;
}

.title-3 {
    font-size: 48px;
    font-weight: 700;
    line-height: 1;
}

.title-4 {
    font-weight: bold;
    font-size: 16px;
    line-height: 1;
}
