.clients {
    padding-top: 80px;
    padding-bottom: 80px;
}

.clients__header {
    margin-bottom: 60px;

    text-align: center;
}

.clients__title {
    margin-bottom: 40px;
}

.clients__slider {
    margin-left: auto;
    margin-right: auto;
    width: 770px;
}
