.flex-control {
    padding-top: 80px;
    padding-bottom: 40px;

    border-bottom: 1px solid #e1e1e1;
}

.flex-control__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 114px;
}

.flex-control__content {
    width: 570px;
}

.flex-control__title {
    margin-bottom: 30px;
}

.flex-control__subtitle {
    margin-bottom: 30px;
}

.flex-control__text {
    width: 400px;

    p:not(:last-child) {
        margin-bottom: 15px;
    }
}
